@keyframes shimmer {
    from {
      background-position: -200% 0;
    }
    to {
      background-position: 200% 0;
    }
  }
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  .product-image {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fade-in effect */
  }
  
  /* Apply fade-in effect once the image is loaded */
  .product-image.fade-in {
    opacity: 1;
  }